@import url('@fortawesome/fontawesome-free/css/fontawesome.css');
@import url('@fortawesome/fontawesome-free/css/brands.css');

:root {
  /* Colors */
  --background-color: 35, 38, 40;
  --on-background-color: 232, 230, 227;
  --surface-color: 45, 48, 50;
  --on-surface-color: 242, 240, 237;
  --primary-color: 163, 229, 238;
  --on-primary-color: 0, 0, 0;
  --secondary-color: 30, 42, 97;
  --on-secondary-color: 232, 230, 227;

  --footer-height: 4rem;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  background-color: rgb(var(--background-color));
  color: rgb(var(--on-background-color));
}
