.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(var(--on-background-color));
  background-color: transparent;
  height: 2.5em;
  width: 2.5em;
  padding: 0.25em;
  border: none;
  border-radius: 50%;
  appearance: none;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 125ms ease-in-out;

  &:hover {
    background: rgba(var(--on-surface-color), 0.12);
  }
}
